<section class="property-bindind text-center">

  <article>
    <h3>Interpolation</h3>
    <p>String renderizada com interpolação: {{ url }}</p>
    <p>Resultado de 1 + 1: {{ 1 + 1 }}</p>
    <p>Resultado de 1 + 1 não é: {{ 1 + 1 + getValor() }}</p>
    <p>Curso de Angular e gosto do curso: {{ cursoAngular && getCurtirCurso() }}</p>
  </article>

  <article>
    <h3>Property Binding</h3>
    <img src="{{ urlImage }}">
    <img [src]="urlImage">
    <img bind-src="urlImage">
  </article>

<!--class and style binding -->

  <article>
    <h3>Class and Style Binding</h3>
    <div>
      Selecione uma classe:
      <select #classe (change)="0">
        <option value="alert-success">Success</option>
        <option value="alert-info">Info</option>
        <option value="alert-warning">Warning</option>
        <option value="alert-danger">Danger</option>
      </select>
      <br><br>

      <div class="alert {{ classe.value }}" role="alert">
        Texto colorido conforme o valor do combobox
      </div>

        <div class="alert" role="alert" [class.alert-success]="classe.value == 'alert-success'">
          This is a success alert—check it out!
        </div>
        <div class="alert" role="alert" [class.alert-info]="classe.value == 'alert-info'">
          This is a Info alert—check it out!
        </div>
        <div class="alert" role="alert" [class.alert-warning]="classe.value == 'alert-warning'">
          This is a warning alert—check it out!
        </div>
        <div class="alert" role="alert" [class.alert-danger]="classe.value == 'alert-danger'">
          This is a danger alert—check it out!
        </div>

        <div class="alert alert-danger" role="alert" [style.display]="classe.value =='alert-danger' ? 'block' : 'none'">
            Este texto só aparece em caso de erro!
        </div>
    </div>
  </article>

<!--event binding -->

  <article>
    <h3>Event Binding</h3>
    <div>
      <button class="btn btn-info" (click)="botaoClicado()">Click me!</button>
      <br><br>

      <input type="text" 
      (keyup)="onKeyUp($event)" 
      (keyup.enter)="salvarValor(campoInput.value)" 
      (blur)="salvarValor(campoInput.value)"
       #campoInput>
      <p>Valor Atual: {{ valorAtual }}</p>
      <p>Valor Salvo: {{ valorSalvo }}</p>
      <br>
      <span (mouseover)="onMouseOverOut()" 
      (mouseout)="onMouseOverOut()"
      [class.highlight]="isMouseOver">
      Passe o mouse aqui
      </span>
    </div>
  </article>

  <app-meu-form></app-meu-form>

</section>

<section class="input-output-properties text-center">
  <article>
    <h3>Input and Output Properties
      <app-curso [nome]="nomeDoCurso"></app-curso>
    </h3>
  </article>
</section>


